<div class="topwrapper">
<div class='header'>
Octopus UI logo and stuff
</div>
<div class="mainwrapper">
<div class="contentwrapper">
<div class='content'>
%include
</div>
</div>
<div class='sidepane'>
<ul>
    <li><a href="/ui/">Dashboard</a></li>
    <li><a href="/ui/live">Live</a></li>
    <li>Events
        <ul>
            <li>search</li>
            <li>search_click</li>
        </ul>
    </li>
</ul>
</div>
<div class="clear"></div>
</div>
</div>
<div class='footer'>
    footer goes here
</div>
%rebase base.html **locals()
